<div class="d-flex justify-content-center mt-3">
    <div class="container-fluid" style="max-width: 400px;">
        <hr>
        <div style="padding: 0px 30px; font-size: large;">
           <b> INFORMACIJE O ZOO PANDICA</b>
        </div>
        <hr>
        <div style="padding: 0px 30px; font-size: large; line-height: 40px;">
            ADRESA: <b>Park zivotinja 100, Novi Beograd</b>
            <br>
            KONTAKT TELEFON: <b>011-200-300</b>
            <br>
            LINIJE GRADSKOG PREVOZA: <b>25, 27, 100, 7, 13</b>
            <br>
            EMAIL: <b>pandica@zoo.rs</b>
            <br>
            RADNO VREME: <b>PONEDELJAK-PETAK 09.30-15.00H</b>
        </div>
        
    </div>
</div>
